streamlit==1.39.0
pandas==2.2.2
torch>=2.1.0
torchaudio>=2.1.0
numpy>=1.23,<1.25
ffmpeg-python==0.2.0
tqdm==4.66.4
setuptools-rust>=1.8.0
tiktoken>=0.5.1
git+https://github.com/openai/whisper.git@main#egg=whisper
