streamlit==1.39.0
pandas==2.2.2
numpy>=1.26.0,<2.4.0
torch>=2.1.0
torchaudio>=2.1.0
ffmpeg-python==0.2.0
tqdm==4.66.4
setuptools-rust>=1.8.0
tiktoken>=0.5.1
git+https://github.com/openai/whisper.git@main#egg=openai-whisper
